* {
    background-color: aquamarine;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

button {
    width: 20%;
    margin: auto;
}

/* Hide answer choices and grade until called by the script */
#questionBody {
    display: none;
}

#answerGrade {
    display: none;
}

li {
    padding: 5px;
}

li:hover {
    color: blue;
    box-shadow: 0px 5px 15px purple;
    cursor: pointer;
}